@import "base/nullstyle";

$bg: #f8f8f8;
$deep-pink: #ff3e79;
$white: #ffffff;
$aqua: #41f6d7;
$menu-border: #b8ffec;
$menu-link-color: #7e7e82;
$text-color: #1b1c21;
body {
	background: $bg;
	font-family: "TT Lakes";
}
body.lock {
	overflow: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
	&::before {
		content: "";
		z-index: 8;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -200%;
		background: $white;
		opacity: 0;
		transition: opacity 0.3s ease 0s;
	}
	&.active {
		&::before {
			left: 0;
			opacity: 0.9;
		}
	}
}
._container {
	max-width: 1120px;
	margin: 0px auto;
	padding: 0 15px;
}
._ibg {
	position: relative;
	& img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.line {
	position: relative;
	padding: 0px 22px 0px 0px;
	&::before {
		content: "";
		position: absolute;
		top: 8px;
		right: 0;
		background: #eaeaea;
		border-radius: 1px;
		width: 2px;
		height: 32px;
	}
}
.link-style {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0px 8px;
	transition: all 0.15s ease 0s;
	&:hover {
		filter: grayscale(20%) drop-shadow(5px 5px 5px $text-color);
	}
	&::after {
		content: "";
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background: $deep-pink;
	}
}
.logo {
	& img {
		vertical-align: middle;
		width: 96px;
		height: 50px;
	}
}

//*-------------header-------------
.header {
	background: $white;
	&__container {
		overflow: auto;
		height: 88px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__left {
		display: flex;
	}
	&__menu {
		display: flex;
		align-items: center;
		padding: 0px 15px 0px 0px;
		&::before {
			display: none;
		}
	}
	&__logo {
	}
	&__link-menu {
		display: flex;
	}
	&__contacts {
		display: none;
	}
	&__link-body {
		display: flex;
	}
	&__link {
		&:not(:last-child) {
			margin: 0px 16px 0px 0px;
		}
		&:nth-child(1) {
			&::after {
				background: url("../img/repair.svg") 0 0 no-repeat;
			}
		}
		&:nth-child(2) {
			&::after {
				background: url("../img/status.svg") 0 0 no-repeat;
			}
		}
	}
}

//*-------------header-768-------------
@media (min-width: 768px) {
	.header {
		&__menu {
			padding: 0px 22px 0px 0px;
			&::before {
				display: block;
			}
		}
		&__logo {
			margin: 0px 0px 0px 20px;
			&::before {
				display: none;
			}
		}
		&__contacts {
			display: flex;
			&::before {
				top: 4px;
			}
		}
		&__link-body {
			margin: 0px 0px 0px 20px;
		}
	}
}

//*-------------header-1120-------------
@media (min-width: 1120px) {
	.header {
		display: none;
	}
}

//*-------------contacts-------------
.contacts {
	&__contacts-link {
		&:nth-child(1) {
			&::after {
				background: url("../img/phone.svg") 0 0 no-repeat;
			}
		}
		&:nth-child(2) {
			&::after {
				background: url("../img/message.svg") 0 0 no-repeat;
			}
		}
		&:nth-child(3) {
			&::after {
				background: url("../img/contact.svg") 0 0 no-repeat;
			}
		}
		&:not(:last-child) {
			margin: 0px 16px 0px 0px;
		}
	}
}
//*-------------menu-------------
.icon-menu {
	position: relative;
	width: 40px;
	height: 40px;
	background: $deep-pink;
	border-radius: 20px;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.menu {
	&__open {
		&::before {
			background: url("../img/open.svg") center center no-repeat;
		}
	}
	&__container {
		overflow: auto;
		padding: 23px;
		z-index: 10;
		position: fixed;
		width: 320px;
		height: 100%;
		top: 0;
		left: 0;
		background: $white;
		box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
		left: -200%;
		transition: all 0.3s ease 0s;
		&.active {
			left: 0;
		}
	}
	&__top {
		display: flex;
		align-items: center;
		margin: 0px 0px 50px 0px;
	}
	&__close {
		margin: 0px 17px 0px 0px;
		transition: all 0.15s ease 0s;
		&:hover {
			filter: grayscale(20%) drop-shadow(5px 5px 5px $text-color);
		}
		&::before {
			background: url("../img/close.svg") center center no-repeat;
		}
	}
	&__search {
		margin-left: auto;
		transition: all 0.15s ease 0s;
		&:hover {
			filter: grayscale(20%) drop-shadow(5px 5px 5px $text-color);
		}
		&::before {
			background: url("../img/search.svg") center center no-repeat;
		}
	}
	&__body {
		&:not(:last-child) {
			margin: 0px 0px 32px 0px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		&:not(:last-child) {
			margin: 0px 0px 32px 0px;
		}
	}

	&__link {
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
		letter-spacing: -0.2px;
		color: $text-color;
		transition: all 0.15s ease 0s;
		&:hover {
			filter: grayscale(80%) drop-shadow(5px 5px 5px $text-color);
		}
		&.active {
			position: relative;
			color: $menu-link-color;
			&::before {
				content: "";
				position: absolute;
				width: 6px;
				height: 32px;
				top: -5px;
				left: -25px;
				background: $aqua;
				border-radius: 0px 8px 8px 0px;
			}
		}
	}
	&__contacts {
		display: flex;
		margin: 0px 0px 16px 0px;
	}
	&__info {
		margin: 0px 0px 8px 0px;
	}
	&__email-link {
		display: block;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: -0.2px;
		color: $text-color;
		margin: 0px 0px 12px 0px;
		transition: all 0.15s ease 0s;
		&:hover {
			filter: grayscale(20%) drop-shadow(5px 5px 5px $text-color);
		}
	}
	&__tel {
		display: block;
		font-weight: 700;
		font-size: 24px;
		line-height: 133%;
		letter-spacing: -0.6px;
		color: $text-color;
		transition: all 0.15s ease 0s;
		&:hover {
			filter: grayscale(20%) drop-shadow(5px 5px 5px $text-color);
		}
	}
	&__language-body {
	}
	&__language {
		font-size: 16px;
		font-weight: 500;
		line-height: 150%;
		letter-spacing: -0.2px;
		color: $text-color;
		background: transparent;
		transition: all 0.15s ease 0s;
		&:hover {
			filter: grayscale(80%) drop-shadow(1px 1px 5px $text-color);
		}
		&:not(:last-child) {
			margin: 0px 8px 0px 0px;
		}
		&.active {
			color: $menu-link-color;
		}
	}
}
@media (min-width: 768px) {
	.menu {
		&__body {
			&:not(:last-child) {
				margin: 0px 0px 268px 0px;
			}
		}
	}
}
//*-------------page-------------
.page {
	margin: 25px 0px 50px 0px;
	&__services {
		margin: 24px 0px 0px 0px;
	}
}

//*-------------services-------------
.services {
	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	&__link-body {
		display: none;
	}
	&__title {
		font-size: 28px;
		line-height: 143%;
		font-weight: 700;
		letter-spacing: -0.6px;
		color: $text-color;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 100%;
			top: 0;
			left: -14px;
			background: $aqua;
			border-radius: 2px;
		}
	}
	&__navigation {
		margin: 0px 0px 24px 0px;
	}
}
@media (min-width: 1120px) {
	.services {
		&__link-body {
			display: flex;
			align-items: center;
		}
		&__link {
			font-size: 16px;
			line-height: 24px;
			letter-spacing: -0.2px;
			color: $text-color;
			font-weight: 500;
			&:nth-child(1) {
				&::after {
					background: $deep-pink url("../img/repair.svg") 0 0 no-repeat;
				}
			}
			&:nth-child(2) {
				&::after {
					background: $deep-pink url("../img/status.svg") 0 0 no-repeat;
				}
			}
		}
	}
}
//*-------------navigation-------------
.navigation {
	position: relative;
	&::after {
		content: "";
		pointer-events: none;
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		right: -35%;
		background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 45%, #f8f8f8 65%);
	}
	&__items {
		display: flex;
		gap: 20px 10px;
		align-items: center;
		justify-content: flex-start;
		height: 42px;
		overflow-x: auto;
		scrollbar-width: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	&__link {
		font-weight: 500;
		white-space: nowrap;
		padding: 8px 16px;
		border-radius: 6px;
		line-height: 150%;
		letter-spacing: -0.2px;
		color: $menu-link-color;
		border: 2px solid transparent;
		&.active {
			background: #ffffff;
			border: 2px solid $menu-border;
		}
	}
}
//*-------------navigation-1120-------------
@media (min-width: 1120px) {
	.navigation {
		&::after {
			display: none;
		}
		&__items {
			flex-wrap: wrap;
			height: 100%;
			overflow-x: visible;
		}
		&__link {
			transition: all 0.3s ease 0s;
			&:hover {
				border: 2px solid $menu-border;
			}
		}
	}
}

//*-------------about-------------
.about {
	&__container {
		padding: 0;
	}
	&__info {
		margin: 0px 0px 16px 0px;
		padding: 0 15px;
	}
	&__text {
		max-height: 100px;
		overflow: hidden;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: 0.2px;
		color: $text-color;
		margin: 0px 0px 10px 0px;
		& p:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__read-more {
		font-weight: 700;
		line-height: 150%;
		font-size: 16px;
		letter-spacing: -0.2px;
		color: $text-color;
		background: transparent;
		padding: 0px 0px 0px 16px;
		position: relative;
		&::before {
			content: "";
			background: url("../img/arrow-down.svg") no-repeat;
			background-size: cover;
			position: absolute;
			width: 8px;
			height: 11px;
			top: 25%;
			left: 0;
		}
	}
	&__image {
		min-height: 176px;
		background: $bg;
		overflow: hidden;
	}
}

//*-------------about-345-------------
@media (min-width: 345px) {
	.about {
		&__text {
			max-height: 140px;
		}
	}
}

//*-------------about-375-------------
@media (min-width: 375px) {
	.about {
		&__container {
			padding: 0 15px;
		}
		&__info {
			padding: 0;
		}
		&__image {
			overflow: hidden;
			border-radius: 6px;
			min-height: 210px;
		}
	}
}

//*-------------about-480-------------
@media (min-width: 480px) {
	.about {
		&__container {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 0 15px;
		}
		&__info {
			margin: 0;
		}
		&__text {
			max-height: 160px;
		}
		&__image {
			min-width: 210px;
			min-height: 146px;
		}
	}
}

//*-------------about-768-------------
@media (min-width: 768px) {
	.about {
		&__container {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 0 65px;
		}
		&__info {
			margin: 10px 0px 0px 0px;
		}
		&__text {
			-webkit-line-clamp: 7;
			min-width: 312px;
		}
		&__image {
			min-width: 360px;
			height: 208px;
		}
	}
}

//*-------------about-914-------------
@media (min-width: 914px) {
	.about {
		&__container {
			gap: 0 35px;
		}
		&__text {
			max-height: 100%;
			overflow: visible;
		}
		&__read-more {
			display: none;
		}
		&__image {
			min-width: 460px;
			height: 268px;
		}
	}
}

//*-------------about-1120-------------
@media (min-width: 1120px) {
	.about {
		&__image {
			min-width: 531px;
			height: 307px;
		}
	}
}
